aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
attrs==24.2.0
beautifulsoup4==4.12.3
build==1.2.2
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
dataclasses-json==0.6.7
distlib==0.3.8
distro==1.9.0
dulwich==0.21.7
exchange_calendars==4.5.6
fastjsonschema==2.20.0
filelock==3.16.0
frozendict==2.4.4
frozenlist==1.4.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.2
idna==3.9
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jiter==0.5.0
jsonpatch==1.33
jsonpointer==3.0.0
keyring==24.3.1
korean-lunar-calendar==0.3.1
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.120
lxml==5.3.0
marshmallow==3.22.0
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.45.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
pandas_market_calendars==4.4.1
pandas_ta==0.3.14b0
peewee==3.17.6
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.3.3
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
polygon-api-client==1.14.2
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.9.1
pydantic-settings==2.5.2
pydantic_core==2.23.3
pyluach==2.2.0
pyproject_hooks==1.1.0
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
rapidfuzz==3.9.7
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==74.1.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.34
ta==0.11.0
tenacity==8.5.0
tiktoken==0.7.0
tomlkit==0.13.2
toolz==0.12.1
tqdm==4.66.5
trove-classifiers==2024.9.12
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
webencodings==0.5.1
websockets==12.0
wheel==0.44.0
xattr==1.1.0
yarl==1.11.1
yfinance==0.2.43
